*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
    align-items: center;
    height: 20%;
}

.logo{
    height: 140px;
    width: 150px;
}

main{
    align-items: center;
    justify-content: center;
    display: flex ;
    padding-bottom: 30px;
    gap: 30px;
    flex-direction: column;
    height: 80%;
}

p{
    text-align: center;
    color: ivory;
    font-family: 'Young Serif', serif;
    font-size: 28px;
}

body{
    background-color: grey;
    background-image: linear-gradient(to bottom, black 15%, grey, white);
    height: 100vh;
    width: 100vw;
    padding-left: 36px;
    padding-right: 36px;
}

.botao{
    border-radius: 12px;
    background-color: khaki;
    place-items: center;
    align-items: center;
    width: 700px;
    height: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;

}

header img:last-child{
    height: 140px;
    width: 150px;
}

button{
    background-color: transparent;
    border: none;
    font-size: 1.3em;
}



